:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan-2: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --light-grayish-cyan-2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --font-family: 'Space Mono', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grayish-cyan);
  min-height: 100vh;
  position: relative;
}

header {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
}

h4,
h5 {
  color: var(--dark-grayish-cyan);
}

button {
  border: none;
  outline: none;
}

label {
  display: flex;
  justify-content: space-between;
}

.tip-calculator {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 1rem;
  margin: 0;
  max-width: 1000px;
}

.label-wrapper h4 {
  margin-bottom: 0.5rem;
}

.error-mssg {
  color: red;
  font-weight: 700;
}

.bill-error,
.people-error {
  visibility: hidden;
}

.error,
.error:focus {
  outline: 2px solid red;
}

.input-bill {
  background-image: url('images/icon-dollar.svg');
  background-repeat: no-repeat;
}

.input-people {
  background-image: url('images/icon-person.svg');
  background-repeat: no-repeat;
}

.input-bill,
.tips-wrapper,
.input-people {
  margin-bottom: 2.5rem;
}

.tips-wrapper {
  margin-top: 0.5rem;
}

.input-bill:focus,
.input-people:focus,
.input-custom:focus {
  outline: 2px solid var(--strong-cyan);
}

input {
  width: 100%;
  height: 50px;
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  color: var(--very-dark-cyan);
  background-color: var(--light-grayish-cyan-2);
  background-position: 1rem center;
  outline: none;
  border: none;
  border-radius: 1vh;
  border: 2px solid transparent;
  padding: 0 1rem;
}

input:focus {
  border-color: var(--light-grayish-cyan-2);
}

.tips-wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.tip {
  font-size: 1.5em;
  font-weight: 700;
  background: var(--very-dark-cyan);
  color: var(--white);
  border-radius: 1vh;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.unselected:hover {
  background: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.selected {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.tip:active {
  transform: scale(0.9);
}

.input-custom {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--very-dark-cyan);
  text-align: center;
}

.output {
  background-color: var(--very-dark-cyan);
  border-radius: 1rem;
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
}

.output-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title-wrapper h4 {
  color: var(--white);
}

.title-wrapper h4,
h5 {
  font-weight: 400;
}

.output-value {
  color: var(--strong-cyan);
  font-size: 2rem;
  font-weight: 700;
}

.reset {
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  background: var(--strong-cyan);
  color: var(--very-dark-cyan);
  border-radius: 1vh;
  transition: background 300ms ease-in-out, transform 200ms ease-in-out;
  cursor: pointer;
  margin: 1.5rem 0;
}

.reset:hover {
  background: var(--light-grayish-cyan);
}

.reset:active {
  transform: scale(0.95);
}

.disable {
  background-color: var(--dark-grayish-cyan);
}

.enable {
  background-color: var(--strong-cyan);
}

.attribution {
  margin: 2.5rem 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 992px) {
  header img {
    margin: -1.5em;
    transform: scale(0.75);
  }

  .tip-calculator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    border-radius: 1.2em;
    transform: scale(0.875);
    padding-left: 2.75em;
    padding-right: 1.75em;
    padding-top: 1.75em;
    padding-bottom: 1.75em;
    width: 100%;
  }

  .input {
    flex: 1;
  }

  .output {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tips-wrapper {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }

  .title-wrapper h4,
  h5 {
    font-size: 1.1em;
  }

  .output-value {
    font-size: 3em;
  }
}
